body{
    font-family: Open Sans, sans-serif;
    background-color: black;
}
#container{
    width: 1000px;
    height: 550px;
    background-image: linear-gradient(rgba(0,0,0,0.3)),url(bmg.jpg);
    margin: 20px auto;
}
#calculator{
    width: 320px;
    height:520px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
    height: 120px;
}
#keyboard{
    height: 400px;
}

.operator, .number, .emptyu{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
   font-weight:  bold;
   font-size: 15px;
}

.number, .empty{
    background-color: #eaedef;
}

.number, .operator{
    cursor: pointer;
}

.operator.active{
    font-size: 13px;
}

.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}